* {
    box-sizing: border-box;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background: #f6f5f3;
}

.wrapper {
    min-width: 600px;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    background: white;
    font-size: 0;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

header::after {
    content: '';
    display: block;
    clear: both;
}

main,
aside {
    display: inline-block;
    vertical-align: top;
}

main {
    border-right: 1px solid #e5e5e5;
    width: 65%;
    padding: 30px;
}

aside {
    width: 35%;
    text-align: center;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    float: left;
    width: 25%;
    text-align: right;
    padding-right: 30px;
}

.right-column::after {
    content: "";
    width: 100%;
    display: inline-block;
}

.left-column>* {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.left-column::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.left-column {
    height: 100%;
    vertical-align: middle;
}

.logo {
    display: block;
    margin-top: -2px;
    padding-left: 30px;
}

form {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-left: 22px;
}

form::before {
    content: "";
    display: inline-block;
    height: 100%;
}

input {
    width: 342px;
    font-size: 14px;
    padding: 7px 0 7px 15px;
    border: none;
    vertical-align: middle;
    outline: none;
}

input::-webkit-input-placeholder {
    opacity: 0.8;
}

input::-moz-placeholder {
    opacity: 0.8;
}

.searching-icon {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.6;
    transition: opacity 0.15s ease-out;
}

.searching-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.searching-icon img {
    display: inline-block;
    margin: 0 5px;
}

.nav-header ul {
    padding: 25px 0;
}

.nav-header li {
    display: inline-block;
    list-style: none;
    margin-left: 45px;
}

.nav-main ul {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.nav-main li {
    display: inline-block;
    list-style: none;
    margin: 5px 40px 5px 0;
}

.nav-main li a {
    font-size: 13px;
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-main li a:hover {
    color: red;
}

a {
    font-size: 15px;
    color: #222222;
    text-decoration: unset;
}

a:hover {
    color: red;
}

.my-music::before {
    content: "";
    display: inline-block;
    height: 100%;
}

.my-music {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding: 22px 0;
    font-size: 0;
}

.heart {
    margin: 0 5px 0 -4px;
    display: inline-block;
    vertical-align: middle;
}

.music-right {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #222222;
}

.avatar {
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url('./img/avatar.png') no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

h1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #222222;
}

.main-img-container {
    max-width: 430px;
    max-height: 287px;
}

.main-img-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.main-content .main-img-container {
    position: relative;
}

.main-img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: black;
    transition: opacity 0.15s ease-out;
}

.main-content div:hover .main-img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.main-content div:hover h3 {
    color: #f33333;
}

h2 {
    color: #f33333;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.3px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 5px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 5px 0 0;
    color: #222;
}

p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 3px;
    color: #777;
}

.main-left {
    display: inline-block;
    vertical-align: middle;
    margin: 35px 0 0 0;
}

.main-right {
    display: inline-block;
    vertical-align: middle;
    margin: 35px 0 0 14px;
}


/* Они у меня слиплись, я пытался применить джастифай, 
но никак не получалось и сделал через маргин */

.aside-content {
    display: inline-block;
    background-color: #ceb2d4;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 20px;
}

.aside-content::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.aside-content::after {
    content: "";
    display: block;
}

.skate {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
}

.aside-content span {
    font-size: 15px;
    color: black;
    vertical-align: middle;
}

footer {
    font-size: 0;
    background: white;
    border-top: 1px solid #e5e5e5;
    min-width: 600px;
    max-width: 1440px;
    margin: 0 auto;
}

footer address, footer .location-info {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 0;
    font-style: normal;
    width: 50%;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-left: 20px;
}
