body {
    padding: 40px;
}

p {
    max-width: 700px;
}

ul {
    list-style-type: none;
}

section:first-of-type {
    overflow: hidden;
}

.first-parent,
.second-parent {
    border: 5px solid black;
    max-width: 700px;
}

.first-child {
    float: left;
    border: 2px solid red;
    width: 100px;
    height: 100px;
}


/* Ваше решение задания №1 */

.third-parent {
    position: relative;
    height: 400px;
    background: green;
    max-width: 700px;
    border: 5px solid black;
    left: 40px;
}

.blue {
    width: 50px;
    height: 50px;
    background: blue;
}

.yellow {
    width: 50px;
    height: 50px;
    background: yellow;
}


/* Ваше решение задания №2 */

.fourth-parent {
    border: 5px solid black;
}

.fourth-parent div {
    height: 300px;
    border: 2px solid red;
}


/* Ваше решение дополнительного задания */


/* #1 */

.first-parent::after {
    content: "";
    display: table;
    clear: both;
}


/* #2 */

.second-parent {
    overflow: auto;
}


/* #3 */

.blue {
    position: absolute;
    top: 0;
    right: 0;
}

.yellow {
    position: absolute;
    bottom: -30px;
    right: -30px;
}


/* #4 */

.fourth-left {
    float: left;
    width: 250px;
}

.fourth-right {
    float: left;
    width: calc(100% - 258px);
}

.fourth-parent::after {
    content: "";
    display: table;
    clear: both;
}