/* Стили ниже трогать не нужно */

.content {
    width: 600px;
    padding: 0 30px 30px 30px;
    border: 3px solid;
}

.element {
    border: 2px solid red;
    height: 150px;
    margin-top: 30px;
}

.element:nth-child(2) {
    height: 200px;
}

.element:nth-child(3) {
    height: 250px;
}


/* Ваше решение задания №1 */

.element {
    display: inline-block;
    width: 100px;
    text-align: left;
    vertical-align: middle;
}


/* Ваше решение задания №2 */

.parent {
    display: table;
    margin-top: 10px;
    border: 1px solid black;
    width: 600px;
    height: 100px;
}

ul {
    display: table-row;
    border: 1px solid black;
}

li {
    display: table-cell;
    border: 1px solid black;
}


/* Ваше решение задания №3 */

.p2 {
    display: none;
}

.p4 {
    display: none;
}