body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.row {
    display: flex;
    width: 100%;
    height: 12.5%;
}

.row:nth-child(2n) {
    flex-direction: row-reverse;
}

.row div {
    width: 12.5%;
}

.row div:nth-child(2n-1) {
    background: #fdffdc;
}

.row div:nth-child(2n) {
    background: black;
}

.num-left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 100%;
    max-width: 5%;
    margin-right: auto;
    font-size: 20px;
}

.num-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-width: 5%;
    margin-left: auto;
    font-size: 20px;
    transform: scale(-1, -1);
}

.num-top {
    display: flex;
    width: 90vmin;
    flex-direction: row;
}

.blackboard {
    display: flex;
    height: 90vmin;
    width: 90vmin;
    font-size: 0;
    flex-wrap: wrap;
}

.num-container {
    display: inline-block;
    width: 5%;
}

.board-container {
    display: inline-block;
    width: 90%;
    height: 90%;
}

.letter-top,
.letter-bottom {
    display: flex;
    width: 100%;
    padding-left: calc(92% / 8);
    height: 5%;
    font-size: 20px;
    counter-reset: letter;
}

.letter-top span,
.letter-bottom span {
    display: flex;
    position: relative;
    list-style-type: upper-latin;
    margin: 0;
    padding: 0;
    width: calc(100% / 8);
}

.letter-top span::before {
    counter-increment: letter;
    content: counter(letter, upper-latin);
}