body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

th:first-child {
    text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
    text-align: center;
}

th:last-child,
td:last-child {
    text-align: right;
}

tr:nth-child(2n+3) {
    background: lightyellow;
}

th:nth-child(2n+1) {
    background: darkcyan;
    color: white;
}

th:nth-child(2) {
    background: lightblue;
    color: white;
}

td,
th {
    padding: 10px;
    width: 33%;
}

td {
    border-bottom: 1px solid lightgray;
}

th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}