* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 450px;
    height: 335px;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: white;
}

.container {
    margin: 0 auto;
    width: 350px;
    padding: 10px 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

header {
    height: 40px;
    background: #c0392b;
}

section {
    margin: 0;
    background: #34495e;
}

section>.container>div {
    width: 170px;
    height: 60px;
    background: #c0392b;
}

.promo1 {
    float: left;
}

.promo2 {
    float: right;
}

main>.container>div {
    width: 70px;
    height: 110px;
    float: left;
    background: #3498DB;
}

main>.container>div:nth-child(2) {
    width: 190px;
    margin: 0 10px;
}

nav {
    height: 35px;
    background: #3498DB;
}

nav.container {
    margin: 0 auto;
}

.text-padding {
    padding: 5px;
}

footer {
    height: 35px;
    background: #34495e;
}


/*
    Используемые цвета:
    #34495e – мокрый асфальт
    #c0392b – красный
    #3498DB – синий
    */